///////////////////////////////////// cart.html

@media (max-width: 1240px) {
  .hero {
    flex-direction: column !important;
    .second__side {
      padding-block: 6rem !important;
    }
  }
}

@media (max-width: 720px) {
  .hero {
    padding: none !important;
  }
  .first__side {
    .place-for-products {
      grid-template-columns: 1fr !important;
    }
    margin-bottom: 6rem !important;
    #del-all-btn {
      font-size: 4.2rem !important;
    }
  }
  .second__side {
    #total-all {
      font-size: 4.2rem !important;
    }
    gap: 4rem !important;
    .form {
      gap: 4rem !important;
      input,
      #continue-btn {
        font-size: 3.2rem;
        padding: 1.4rem;
      }
      .first-span,
      .second-span {
        flex-direction: column !important;
        gap: 4rem !important;
      }
    }
  }
}

@media (max-width: 520px) {
  .hero {
    gap: 0rem !important;
    .second__side {
      padding-block: 2rem !important;
      .form {
        input,
        #continue-btn {
          width: 75% !important;
          margin: 0 auto !important;
          font-size: 2rem !important;
        }
        .title {
          h1 {
            font-size: 4.8rem !important;
          }
        }
      }
    }
  }
  .testimonials__section .about-testimonials .testimonial p {
    font-size: 1.6rem !important;
  }
}
